body {
  padding-top: 56px; /* For navbar */
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.daily-deals {
  display: flex;
  flex-direction: row;
}

.daily-deals .container {
  display: flex;
}

.daily-deals .container .row {
  flex: 1;
}

@media (max-width: 767px) {
  .daily-deals {
    flex-direction: column;
  }
}
